/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}
html {
  overflow-x: hidden;
}
:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

h3 {
  margin: 0;
}

body {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
}

header {
  margin-top: 0;
  display: flex;
  width: 100%;
  height: 79px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  width: 61.09px;
  height: 19px;
}

.menu {
  display: flex;
  align-self: flex-start;
  justify-self: center;
  width: 244px;
}

.buttons {
  display: flex;
  width: 244px;
  justify-content: space-between;
}
.btn_hebergement,
.btn_activites {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 0;
  height: 35px;
  border: 0;
}

.btn_hebergement {
  width: 113px;
}
.btn_activites {
  width: 63px;
}

.btn_activites,
.btn_hebergement {
  background-color: white;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.78px;
  width: 113px;
  height: 35px;
  padding: 2px;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}

.btn_activites:focus,
.btn_activites:active {
  border-top: solid 2px #0065fc;
  color: #0065fc;
  padding-top: 0px;
}

.btn_hebergement:focus,
.btn_hebergement:active {
  border-top: solid 2px #0065fc;
  color: #0065fc;
  padding-top: 0px;
}

.info-group {
  height: 281px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 25px;
}
.headline {
  height: 53px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.headline h2 {
  width: 100%;
  height: 26px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}
.headline p {
  width: 1340px;
  height: 19px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  margin: 0;
  font-size: 16px;
  line-height: 19px;
}

.searchbar {
  width: 377px;
  height: 49px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pinpoint {
  width: 50px;
  height: 100%;
  background-color: #f2f2f2;
  border-radius: 15px 0 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pinpoint img {
  height: 18px;
}

form {
  height: 100%;
  display: flex;
  align-items: stretch;
}

.search-input-container {
  display: flex;
  flex: 1;
  align-items: center;
  border-top: solid 1px #f2f2f2;
  border-bottom: solid 1px #f2f2f2;
}
.search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}
.search-input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
  padding: 13px 13px;
}

.search-input::placeholder {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: rgb(128, 124, 124);
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  width: 132px;
  height: 100%;
  border: none;
  background-color: #0065fc;
  color: white;
  cursor: pointer;
  border-radius: 0 15px 15px 0;
}

.search-button i {
  display: none;
}

.filterbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 758px;
  height: 50px;
}

.filterbar .filtre-title {
  width: 54px;
  height: 23px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 13.5px 0px;
}

.filterbar a {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  white-space: nowrap;
  padding: 0px 20px;
  border: solid 2px #d9d9d9;
}

.filterBtns {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}

.filterbar a:hover {
  background-color: #deebff;
}

.filterbar a:focus {
  background-color: #deebff;
}
.filterbar a p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
}

.filterbar a i {
  margin-right: 9px;
}

.infobar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info {
  width: 24px;
  height: 24px;
  border: solid 1px #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 10px;
}

.info .info-logo img {
  height: 10px;
  margin-bottom: 1px;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  margin: 0;
  font-size: 16px;
  padding-right: 10px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hebergements-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hebergements-cards {
  display: grid;
  height: 444.5px;
  grid-template-columns: repeat(3, 240px);
  grid-template-rows: repeat(2, 197.25px);
  justify-content: space-between;
  align-content: space-between;
}

.hebergements .card {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.hebergements-cards img {
  width: 100%;
  height: 107px;
  border-radius: 20px 20px 0 0;
}

.hebergements-cards .card-content {
  width: 67%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.hebergements-cards .card-title {
  margin-top: 8px;
  margin-bottom: 4px;
  width: 220.33px;
  height: 19px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.hebergements-cards .card-subtitle {
  width: 220.33px;
  height: 16px;
  font-size: 14px;
  line-height: 16px;
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
}

.hebergements-cards .card-rating {
  margin-bottom: 5px;
  font-size: 14px;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/* //////////////// PARTIE ACTIVITES //////////////////*/

.activites {
  margin-top: 25px;
  padding: 30px;
}

.activites-cards {
  height: 439px;
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.activites-cards a {
  width: 23.25%;
}

.activites-cards .card {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
}

.activites-cards img {
  width: 100%;
  height: 86.25%;
  border-radius: 20px 20px 0 0;
}

.activites-cards .card-txt {
  flex: 1;
  display: flex;
  align-items: center;
}

.activites-cards h3 {
  margin-left: 20px;
}

.footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 163px;
  background-color: #f2f2f2;
  margin-top: 30px;
}

.footer-link {
  margin: 0;
}

.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 33.33333%;
  padding: 20px;
}

.spacer {
  visibility: hidden;
  height: 27px;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////Le code ci-dessous correspond à la version responsive uniquement //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/****** Media queries ***********/
/* Big devices (desktop, less than 1440px) */
@media (max-width: 1439.98px) {
  .main-container {
    max-width: calc(100% - 100px);
  }

  .hebergements-and-populaires {
    flex-direction: column;
    height: 48.15%;
  }

  .hebergements {
    width: 100%;
    height: 611px;
  }

  .hebergements-cards {
    grid-template-columns: repeat(3, 30%);
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  .activites-cards {
    height: 270px;
  }

  .activites-cards img {
    height: 200px;
  }
}

/* Medium devices (tablets, less than 840px) */
@media (max-width: 840px) {
  .info-group {
    height: 389px;
  }
  .filterbar {
    flex-direction: column;
    height: auto;
    width: 100%;
  }

  .filterBtns {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
  }
  .filterBtns a {
    width: 100%;
    padding: 0;
  }
  .footer {
    justify-content: space-between;
    flex-direction: column;
    height: 401px;
    width: calc(100% - 60px);
    padding: 30px;
  }

  .footer-section {
    padding: 0;
    width: 100%;
  }
  .spacer {
    display: none;
  }

  .a-propos-footer {
    height: 123px;
  }
  .nos-hebergements-footer,
  .assistance-footer {
    height: 89px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .main-container {
    padding: 0;
    max-width: 100%;
  }

  header {
    height: 114px;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 30px;
  }

  .logo img {
    width: 61.09px;
    height: 19px;
  }
  .logo {
    justify-content: center;
    width: 100%;
    height: 79px;
    padding-top: 30px;
  }
  .menu {
    width: 100%;
  }
  .btn_activites,
  .btn_hebergement {
    align-items: center;
  }
  .menu .buttons {
    width: 100%;
    align-items: flex-start;
  }
  .menu button {
    flex: 1;
    border-bottom: 2px solid #f2f2f2;
  }
  .menu button:active,
  .menu button:focus {
    border: none;
    border-bottom: 2px solid #0065fc;
  }
  .info-group {
    padding: 0 20px;
  }
  .headline h2 {
    height: auto;
  }
  .filterbar .filtre-title {
    margin-top: 0px;
  }
  .infobar p {
    flex: 1;
    margin: 0;
    font-size: 16px;
  }
  .info {
    height: 24px;
    width: 24px;
  }
  .hebergements-and-populaires {
    flex-direction: column-reverse;
    height: 2020px;
  }

  .hebergements-and-populaires section {
    border-radius: 0;
  }

  .populaires {
    height: 569px;
    flex-direction: column;
    margin: 0;
  }
  .populaires-cards {
    flex-direction: column;
  }
  .hebergements-and-populaires .hebergements {
    background-color: white;
  }
  .populaires-cards a {
    width: calc(100% - 10px);
  }
  .populaires-cards .card {
    margin-top: 15px;
    width: 100%;
  }

  .hebergements {
    height: 1505px;
    justify-content: space-between;
  }
  .hebergements-cards {
    height: 1318.5px;
    display: flex;
    flex-direction: column;
  }
  .hebergements-cards a {
    height: 207.5px;
  }
  .activites {
    height: 905px;
    margin: 0;
  }
  .activites-cards {
    flex-direction: column;
    height: 845px;
  }
  .activites-cards a {
    height: 200px;
    width: 100%;
  }
  .activites-cards img {
    height: 70.5%;
  }

  @media (max-width: 435px) {
    .info-group {
      height: 432px;
      margin-top: 0;
    }
    .headline {
      height: 79px;
      flex-wrap: wrap;
    }
    .searchbar {
      width: 100%;
    }
    form {
      width: calc(100% - 49px);
    }
    form .searchBtn-container {
      border-radius: 0 15px 15px 0;
      border-top: solid 1px #f2f2f2;
      border-bottom: solid 1px #f2f2f2;
    }
    form .search-button {
      width: 49px;
      border-radius: 15px;
      filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.4));
    }
    form span {
      display: none;
    }
    .search-button i {
      display: block;
    }
  }
}
